$baseFontstack:			 	'Open Sans', Verdana, Arial, Helvetica, sans-serif;
$baseFontsize:					62.5%;

$path-css-to-img-folder: '../img';

$basecolor: 					#60584D;
$darkercolor:					#5d2f00;
$footerColor: 					#473F3A;
$footerTextcolor: 			#9E9084;
$baseBorderColor:				#D4CBC5;
$wrapperBgColor:				#FBFAF9;
$footerLinkcolor:				#ffffff;
$footerBordercolor:			#60584D;
$highlightcolor:				#E37A25;
$bgColor:						#BEB1A9;
$navOffColor:					#7F7266;
$navOffBorder:					#D4CBC5;
$navOffGradient1:				#F4F2F0;
$navOffGradient2:				#EEE9E7;
$navOffGradient3:				#E1DAD6;
$navHoverBg:					#F4F2F0;
$navHoverBorder:				#E5DFDC;
$navOnColor:					#ffffff;
$navOnBorder:					#DE601A;
$navOnGradient1:				#FF9B50;
$navOnGradient2:				#E37A25;
$navOnGradient3:				#E37A25;
$navOnGradient4:				#DE601A;
$navSubBorderTop:				#eeeeee;
$navSubItemBorderTop:	 		#ffffff;
$navSubItemBorderBottom:		#E5DFDC;
$box1Bg:						#EEE9E7;
$box2Bg:						#F4F2F0;
$tableHeadBg:					#eee9e7;
$tableEvenBg:					#f4f2f0;
$tableOddBg:					#F6F6F6;
$topbarBg:						#eae5e2;
$inputOffBg:					#F4F2F0;
$inputOnBg:					#fdfdfd;
$errorColor:					#c20000;
$confirmColor:					#00ADF1;